@use './mixin';

@media screen and (min-width: 769px) {
    .kanban-board {
        flex-direction: row;

        .kanban-column {
            min-width: 270px;
            max-width: 300px;
            width: 100%;
            min-height: 80vh;
        }
    }
}